@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

:root {
  --yellow: #f4d04e;
  --white: #ffffff;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --gray-400: #a0a0a0;
  --font: 1rem;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  color: var(--gray-500);
  font-size: var(--font);
}

.blog-container {
  background-color: var(--yellow);
  height: 100%;
  padding-bottom: 0.625rem;
  display: flex;
}

.card {
  background-color: var(--white);
  width: clamp(18rem, 40vw, 21.25rem);
  padding: clamp(1rem, 2vw, 1.5rem);
  border-radius: 1.25rem;
  border: 0.125rem solid var(--gray-950);
  box-shadow: 0.4375rem 0.4375rem 0 0 var(--gray-950);
  margin: auto;
}

.card-illustration {
  border-radius: 0.625rem;
  width: 100%;
}

.card-label {
  display: inline-block;
  background-color: var(--yellow);
  padding: 0.4375rem 0.6875rem;
  border-radius: 0.3125rem;
  margin-top: 0.9375rem;
  font-weight: 800;
  color: var(--gray-950);
}

.card-date-text,
.card-header {
  color: var(--gray-950);
}

.card-header {
  font-size: clamp(1.375rem, 3vw, 1.75rem);
}

.card-content {
  margin-top: 0.625rem;
}

.card-text {
  color: var(--gray-400);
}

.avatar-div {
  display: flex;
  align-items: center;
}

.avatar-div img {
  width: 1.875rem;
}

.avatar-div span {
  display: inline-block;
  margin-left: 0.75rem;
  font-weight: 800;
  color: var(--gray-950);
}
